@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    --bs-body-font-family:"Noto Sans", sans-serif;
    --bs-body-font-size: 1.1em;
}

.app-primary-color {
  color: #79589f;
}

nav,.app-primary-bg-color {
  background-color: #79589f;
}

.card-body{
    padding: 0 !important;
}

.border-bottom-1{
    border-bottom: 1px solid lightgray;
}

.card-subtitle{
    margin-top: 1 rem;
}

.navbar-nav .nav-link, .navbar-toggle{
    color: white;
    border-color: white;
} 